*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#070707;
color:white;
font-family:Arial, sans-serif;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px;

background:#111;

}

nav img{

width:70px;

}

nav ul{

display:flex;
gap:20px;
list-style:none;

}

nav a{

color:white;
text-decoration:none;

}

.hero{

text-align:center;
padding:80px 20px;

}

.hero-logo{

width:300px;

animation:float 4s ease-in-out infinite;

}

@keyframes float{

50%{
transform:translateY(-15px);
}

}

h1{

font-size:4rem;
color:#ff2d2d;

}

.ip-box{

display:flex;
justify-content:center;
gap:25px;

margin:30px;

flex-wrap:wrap;

}

.ip-box div{

background:#151515;

padding:20px;

border-radius:10px;

min-width:200px;

}

.buttons{

margin-top:20px;

display:flex;
justify-content:center;
gap:20px;

}

button,a{

padding:12px 20px;

border:none;

border-radius:8px;

text-decoration:none;

cursor:pointer;

}

button{

background:#ff2d2d;
color:white;

}

section{

padding:80px 20px;

max-width:1200px;
margin:auto;

}

.cards{

display:flex;
gap:20px;

flex-wrap:wrap;

justify-content:center;

}

.card{

background:#141414;

padding:25px;

border-radius:12px;

width:300px;

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

box-shadow:
0 0 20px red;

}

footer{

text-align:center;

padding:30px;

background:#111;

}

.container{

max-width:900px;

margin:auto;

padding:50px;

}

#status{

margin-top:20px;

font-size:1.2rem;

}
